<!DOCTYPE html>
<html lang = "en">
    <head>
        
        <meta  charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/e48319c1bd.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />       
        <title>Mercado Liebre</title>
        <link href="../public/style.css" rel="stylesheet">
        
    </head>
    <body>
        <header class="header"> 
            <div class="arriba">
              <div class="mercadoYBarra">
                 <div><br><img height="50px" width="100px" src="../public/img/logo-mercado-liebre.svg"></div>                      
                 <div>
                       <br>
                       <input class="barraBusqueda" type="search" placeholder="Busca productos, marcas">
                       <button type="submit"><i class="fa fa-search"></i></button>
                       
                 </div>                 
              </div>
              <div>
                  <ul class="selector1">
                      <li>Todos los productos</li>
                      <li>Ofertas</li>
                      <li>Tiendas oficiales</li>
                      <li>Vender</li>
                      <li>Ayuda</li>
                  </ul>
              </div>    
              
            </div> 
            
            <div >
                
                <div class="tarjetaOEfectivo">
                      <div><br><i class="fa-solid fa-hand-holding-dollar"></i></div>
                      <div><p>Compra en cuotas y sin tarjeta de credito</p></div>
                </div>                      
                <div>
                    <ul class="selector1">
                        <li><a href=signup.html>Creá tu cuenta<i class="fa-regular fa-address-card" gap="10px"></i></a></li>
                        <li><a href=login.html>Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                        <li>Mis compras<i class="fa-solid fa-basket-shopping"></i></li>             
                    </ul>
                </div>
            </div>       
      </header>
            
            
       
         <main class="ww">
            
            <div>
                <img class="promocion" src="../public/img/img-home-banner.jpg">
            </div>
            <br>
            <h3  id="ultimaBusq" class="ultimasBusquedas">Basado en tus últimas busquedas</h2>
            <div id="padre" class="clasePadre">

        <div id ="articulo1" class="div"><img height="200px" width="200px" src="../public/img/img-cafetera-moulinex.jpg">
               <div >
                   <i class="fa-solid fa-truck" style="color: #3d6615;"></i>
                   <h3>$100.000</h3>
                   <h5 class="descuento">20% off</h5>
                   <p>Cafetera Moulinex</p>
               </div>
            </div>
            <div id ="articulo2" class="div"><img height="200px" width="200px" src="../public/img/img-macbook-pro-2019.jpg">
                <div >
                    <i class="fa-solid fa-truck" style="color: #3d6615;"></i>
                    <h3>$180.000</h3>
                    <h5 class="descuento">20% off</h5>
                    <p>MacBook pro 2019</p>
                </div>
             </div>
             <div id ="articulo3" class="div"><img height="200px" width="200px" src="../public/img/img-tv-samsung-smart.jpg">
                <div >
                    <i class="fa-solid fa-truck" style="color: #3d6615;"></i>
                    <h3>$280.000</h3>
                    <h5 class="descuento">20% off</h5>
                    <p>Tv Samsung Smart</p>
                </div>
             </div>
             <div id ="articulo4" class="div"><img height="200px" width="200px" src="../public/img/img-samsung-galaxy-s10.jpg">
                <div >
                    <i class="fa-solid fa-truck" style="color: #3d6615;"></i>
                    <h3>$90.000</h3>
                    <h5 class="descuento">20% off</h5>
                    <p>Samgung Galaxy s10</p>
                </div>
             </div>
        </div>
            <br>
            <br>
            <br>
            <br>

        </main>
       
        <footer class="footer">
            <div class="footer">
                <div id="footerPaga">
                    <i class="fa-solid fa-credit-card" style="color: blue"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</p>
                </div>
                 <div id="footerEnvio">
                     <div>
                        <i class="fa-solid fa-truck" style="color: blue"></i>
                        <h3>Envío gratis desde $1.999</h3>
                     </div>
                     <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
                </div>
                 <div id="footerSeguridad">
                      <div>
                        <i class="fa-solid fa-user-shield" style="color: blue"></i>
                        <h3>Seguridad, de principio a fin</h3>
                      </div>
                      <p>No te gusta? Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido</p>
                 </div>
                 <div class="copi"><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></div>
                </div>                                                   
        </footer>              
    </body>
</html>