<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta  charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/e48319c1bd.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />       
        <title>Mercado Liebre</title>
        <link href="../public/style.css" rel="stylesheet" >
        
    </head>
    <body>
        <header class="header"> 
            <div class="arriba">
              <div class="mercadoYBarra">
                 <div><img height="50px" width="100px" src="../public/img/logo-mercado-liebre.svg"></div>                      
                 <div>
                       <br>
                       <input class="barraBusqueda" type="search" placeholder="Busca productos, marcas">
                       <input type="submit" value="Buscar">
                 </div>                 
              </div>
              <div>
                  <ul class="selector1">
                      <li>Todos los productos</li>
                      <li>Ofertas</li>
                      <li>Tiendas oficiales</li>
                      <li>Vender</li>
                      <li>Ayuda</li>
                  </ul>
              </div>    
              
            </div>             
            <div >
                
                <div class="tarjetaOEfectivo">
                      <div><br><i class="fa-solid fa-hand-holding-dollar"></i></div>
                      <div><p>Compra en cuotas y sin tarjeta de credito</p></div>
                </div>                      
                <div>
                    <ul class="selector1">
                        <li><a href="index.html">Home</a></li>                        
                        <li>Mis compras<i class="fa-solid fa-basket-shopping"></i></li>             
                    </ul>
                </div>
            </div>       
      </header>

      <main class="ww">
        <div>
            <h1 class="tituloNoIndex">Ingresá con tu cuenta</h1>
            <h4>Correo electronico</h4><input type="email">
            <h4>Contraseña</h4><input type="password">
        </div>
        <br>
        <br>
        <br>
        


      </main>

      <footer>
        <div class="copi"><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></div>
      </footer>

      </body>