<!DOCTYPE html>
<html lang = "en">
    <head>
        
        <meta  charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/e48319c1bd.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />       
        <title>Mercado Liebre</title>
        <link href="../public/style.css" rel="stylesheet">
        
    </head>
    <body>
        <header class="header"> 
            <div class="arriba">
              <div class="mercadoYBarra">
                 <div><img height="50px" width="100px" src="../public/img/logo-mercado-liebre.svg"></div>                      
                 <div>
                       <br>
                       <input class="barraBusqueda" type="search" placeholder="Busca productos, marcas">
                       <button type="submit"><i class="fa fa-search"></i></button>
                       
                 </div>                 
              </div>
              <div>
                  <ul class="selector1">
                      <li>Todos los productos</li>
                      <li>Ofertas</li>
                      <li>Tiendas oficiales</li>
                      <li>Vender</li>
                      <li>Ayuda</li>
                  </ul>
              </div>    
              
            </div> 
            
            <div >
                
                <div class="tarjetaOEfectivo">
                      <div><br><i class="fa-solid fa-hand-holding-dollar"></i></div>
                      <div><p>Compra en cuotas y sin tarjeta de credito</p></div>
                </div>                      
                <div>
                    <ul class="selector1">
                        <li><a href=index.html>Home<i class="fa-regular fa-address-card" gap="10px"></i></a></li>
                        <li><a href=login.html>Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                        <li>Mis compras<i class="fa-solid fa-basket-shopping"></i></li>             
                    </ul>
                </div>
            </div>       
      </header>

      <main class="ww">
        <h1 class="tituloNoIndex">Mercado Liebre es para todos, crea una cuenta gratis</h1>
        <div>
            <h4>Ingresa tu correo electronico</h4>
            <input type="email"></input>
    
            <h4>Volve a ingresar tu correo electronico</h4>
            <input type="email"></input>
            
        </div>

        <div class="crearContra">
            <h4>Ingresa una Contraseña</h4>
            <input type="password"></input>
    
            <h4>Volve a ingresar una Contraseña</h4>
            <input type="password"></input>

            <br>
            <br>
            <br>
            
        </div>




      </main>

      <footer>
        <div class="copi"><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></div>
      </footer>


      </body>
</html>

